{% extends 'BlogBundle:Blog:base.html.twig' %}


{% block content %}



    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Routers in the Database
            </h3>
            <a href="{{ path('new') }}">
            <button type="button" class="btn btn-primary">
                Create New Trans.
            </button>
            </a>

            <br>
            <br>


            <table class="table table-hover">
                <thead>
                <tr>
                    <th>
                        URL
                    </th>
                    <th>
                        Path
                    </th>
                    <th>
                        Controller
                    </th>
                    <th>
                       Name
                    </th>
                    <th>
                        Trans.
                    </th>
                </tr>
                </thead>


                {% for item in list %}

                    {% if loop.first %}
                    <tr>
                        <td><a href="{{ url(item.name) }}">{{ url(item.name) }}</a></td>
                        <td>{{ item.getPath() }}</td>
                        <td>{{ item.getController }}</td>
                        <td>{{ item.getName }}</td>

                        <td>
                        {% for subItem in item.getPathTranslations() %}
                            <p><a href="{{ url(item.name ~'_'~ subItem.getId) }}">{{ subItem.getPath }}</a> </p>
                        {% endfor %}
                        </td>
                    </tr>
                    {% endif %}

                    {% if loop.last %}
                        <tr>
                            <td><a href="{{ url(item.name,{slug: 'hello'}) }}">{{ url(item.name, {slug: 'hello'}) }}</a></td>
                            <td>{{ item.getPath() }}</td>
                            <td>{{ item.getController }}</td>
                            <td>{{ item.getName }}</td>

                            <td>
                                {% for subItem in item.getPathTranslations() %}
                                    <p><a href="{{ url(item.name ~'_'~ subItem.getId, {slug: 'hello'}) }}">{{ subItem.getPath }}</a> </p>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}



                {% endfor %}
            </table>
        </div>
    </div>
    </div>


{% endblock %}


