{% extends 'BlogBundle:Blog:base.html.twig' %}
{% use "bootstrap_3_layout.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    <div class="container">
        <h3>New Route trans.</h3>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
