{% extends 'BlogBundle:Blog:base.html.twig' %}


{% block content %}

    <div class="container">
        <h6>{{ slug }}</h6>
        <h3>Finansų rinkos „Frexit“ nebijo: demonstruoja šaltus nervus</h3>

        <p>Vakarų Europos finansų rinkos, lyg nepasimokiusios iš netikėtų „Brexit“ referendumo rezultatų, prieš šį savaitgalį vyksiančius Prancūzijos prezidento rinkimus demonstruoja santykinę ramybę.</p>
        <p>
            Vokietijos akcijų indeksas DAX penktadienį 12 val. Lietuvos laiku buvo pakilęs 0,02%, Jungtinės Karalystės FTSE 100 stiebėsi 0,09%. Tiesa, Prancūzijos indeksas CAC 40 fiksavo 0,6% neigiamą pokytį, tačiau to turbūt negalima pavadinti korekcija.
        </p>
    </div>
{% endblock %}